.App {
  /* text-align: center; */
  background-color: lightslategray;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.divUserInputs
{
  background-color:#e9ecef;
  padding: 1%;
}

.divMapImage{
  margin-right: -50%;
  margin-bottom: 6%;
  margin-top: -16%;
}

.alignResultText{
  margin: 3% 5%
}

.topSpace{
  margin-top: 1%;
  padding: 2%;
}

th,td {
  text-align: center;
}

.topTitle{
  text-align: center;
  padding: 5%; 
}

.submitButton{
  margin-top:1%;
}

.react-datetime-picker{
  margin-left: -4%;
}

.rangeDisplay {
  width: 35% !important;
}

th{
  width:35%;
}

#imgMap{
  margin: -10%;
  width: 104%;
}
